<!DOCTYPE html>
<html>
    <head>
        <%- include("templates/header", {title: "Sign In"}) -%>
    </head>
    <body>
        <div class="container">
            <h1>Sign In</h1>
            <form method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username" value="admin">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" value="admin">
                </div>
                <input type="submit" class="btn btn-primary" value="Let me in!"/>
            </form>
            <%- include("templates/alert") %>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>