<!DOCTYPE html>
<html>
    <head>
        <%- include("templates/header", {title: "Sign In"}) -%>
    </head>
    <body>
        <div class="container">
            <h1>Sign In</h1>
            <form action="/user" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" value="admin">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" value="admin">
                </div>
                <a class="btn btn-primary" href="/news" role="button">Submit</a>
              </form>
        </div>

        <% if(typeof err !== "undefined") { %>
            <%= err %>
        <%};%>

        <%- include("templates/footer") %>
    </body>
</html>