<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "News"}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "news"}) -%>

        <div class="container">
          <h1>News</h1>
          <div class="article">
            <h2>First Article</h2>
            This is an example article which will be better looking and organized.
          </div>
          <div class="article">
            <h2>Second Article</h2>
            This is another example article which will be better looking and organized.
          </div>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>