<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "Reserve"}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "reservations"}) -%>

        <div class="container">
          <form method="POST" action="/reservations/new">
            <div class="form-group">
              <h1>New Reservation</h1>
              <label for="startDate">Check-in Date</label>
              <input type="date" class="form-control" id="startDate" name="startDate" aria-describedby="startDate" value="2024-02-04" min="2022-09-27" max="2024-04-02">
              <label for="endDate">Check-out Date</label>
              <input type="date" class="form-control" id="endDate" name="endDate" aria-describedby="endDate" value="2023-04-02" min="2022-09-27" max="2024-04-02">
            </div>
            <input type="submit" class="btn btn-primary" value="Reserve"/>
          </form>
          <%- include("templates/alert") %>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>