<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/news">Nea Skioni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if(active === "news") {%>active<%}%>">
          <a class="nav-link" href="/news">News</a>
        </li>
        <li class="nav-item <% if(active === "profile") {%>active<%}%>">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item <% if(active === "gallery") {%>active<%}%>">
            <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item dropdown <% if(active === "reservations") {%>active<%}%>">
          <a class="nav-link dropdown-toggle" href="/reservations/all" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reservations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/reservations/all">All</a>
            <a class="dropdown-item" href="/reservations/user/<%= session_user._id %> ">Own</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/reservations/new">New</a>
          </div>
        </li>
        <% if(session_user.username === "admin" && session_user.password === "admin") {%>
        <li class="nav-item <% if(active === "administration") {%>active<%}%>">
          <a class="nav-link" href="/administration">Administration</a>
        </li>
        <%} %>
      </ul>
      <a class="btn btn-secondary" href="/logout">Sign Out</a>
    </div>
</nav>