body {
    background-image: url(resources/greece_sea.jpeg)
}

.container {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: aliceblue;
}

.article {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px;
    background-color:cornsilk;
}